@keyframes pulseBackground {
    0% {
        background-color: #ffffff;
    }
    50% {
        background-color: #7fffd4;
    }
    100% {
        background-color: #ffffff;
    }
}


  /* Gradient Color Shift Animation */
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes meteorMove {
    0% {
      transform: translate(0, 0) rotate(-120deg); /* Start from initial position */
      opacity: 1;
    }
    50% {
      opacity: 0.7; /* Slight fade in the middle */
    }
    100% {
      transform: translate(-300vw, 300vh) rotate(-120deg); /* Move diagonally off-screen */
      opacity: 0; /* Fade out */
    }
  }

  /* Keyframe for text color animation */
@keyframes textColorShift {
  0% {
      color: #8A2BE2; 
  }
  25% {
      color: #ff69b4; /* Pink */
  }
  50% {
      color: #ffd700; /* Gold */
  }
  75% {
      color: #7FFF00; /* Dark Turquoise */
  }
  100% {
      color: #8A2BE2; 
  }
}

