.like-page {
    padding: 50px;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.like-page-content {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
}

/* Back button styles */
.btn-back {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-back:hover {
    background-color: dodgerblue;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}



p {
    font-size: 1rem;
    color: #333;
}