.profile-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 100px;
    height: 100px;
}
.post-card-image img {
    max-width: 100%; /* Adjusts the image size to fit within the container */
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Removes any inline behavior */
    margin: 0 auto; /* Centers the image if needed */
    object-fit: contain; /* Ensures the entire image is shown */
  }
  
.post-card img {
max-width: 100%; /* Makes sure the image does not exceed the container width */
height: auto; /* Keeps the image's aspect ratio intact */
display: block; /* Ensures the image is treated as a block element */
margin: 0 auto; /* Centers the image horizontally */
object-fit: contain; /* Ensures the image is fully visible */
}
  
.post-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 3rem 3rem;  
    padding: 1.5rem;
    justify-content: center;
}

.post-card {
    background-color:aliceblue;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
}

.post-card:hover {
    transform: scale(1.03);
}

.movie-card-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.post-card-content {
    font-size: 0.9rem;
    text-align: center;
}

.post-card-update-date{
    font-size: 0.7rem;
}

.post-edit-btn{
    display: block;
    margin: auto;
}


.comment{
    border-style: dashed;
}
